// colors
$primary-clr: #f8991d;
$body-bg: #d2d6d8;
$nav-bg: #fafafa;
$text-clr: #4a4747;
$nav-links-clr: #656565;
// breakpoints
$xsm: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
