@use "../helpers/variables" as var;

.button {
	--bg: #f8991d;
	--clr: #fff;
	--hover-clr: #eee;
	--border-clr: transparent;
	--btn-size: 10px 20px;
	border: 1px solid var(--border-clr);
	display: inline-block;
	user-select: none;
	font: inherit;
	line-height: 1.2em;
	background-color: var(--bg);
	color: var(--clr);
	padding: var(--btn-size);
	border-radius: 8px;
	cursor: pointer;
	vertical-align: auto;
	width: max-content;
	height: max-content;
	transition: 333ms ease;
	&:hover {
		opacity: 0.8;
		color: var(--hover-clr);
	}
}

.button-green {
	--bg: #0ab936;
}

.button-lg {
	--btn-size: 13px 24px;
	font-size: 110%;
}

.button-sm {
	--btn-size: 7px 16px;
	font-size: 85%;
}

.button-outline {
	--bg: #fff;
	--border-clr: #f8991d;
	--clr: #f8991d;
	--hover-clr: #f8991d;
}

.button-gray {
	--bg: #cfcfcf;
	--clr: #ffff;
	--hover-clr: #fcfcfc;
}

.button-border-gray {
	--border-clr: #8b8b8b;
}

.button-disabled {
	--bg: #cfcfcf;
	--clr: #fff;
	--border-clr: transparent;
	pointer-events: none;
}

.button-success {
	--bg: #dffff2;
	--clr: #5db188;
	--hover-clr: lighten(#5db188, 5%);
}

.button-danger {
	--bg: #fbe9e9;
	--clr: #a65151;
	--hover-clr: lighten(#a65151, 5%);
}
