@use "../helpers/variables" as var;

.button {
	display: inline-block;
	user-select: none;
	border: none;
	font: inherit;
	line-height: 1.2em;
	background-color: var.$primary-clr;
	color: #fff !important;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
	vertical-align: auto;
	width: max-content;
	height: max-content;
	&:hover {
		opacity: 0.8;
	}
}

.button-green {
	background: #00cc6a;
}

.button-lg {
	padding: 13px 24px;
	font-size: 110%;
}

.button-sm {
	padding: 8px 18px;
	font-size: 90%;
}

.button-outline {
	background: var.$nav-bg;
	border: 1px solid var.$primary-clr;
	color: var.$primary-clr;
}

.button-gray {
	background: #cfcfcf;
	color: #fff;
}

.button-disabled {
	background: #cfcfcf;
	color: #fff;
	pointer-events: none;
}

.button-outline.button-disabled {
	border-color: #cfcfcf;
	color: #cfcfcf;
	pointer-events: none;
}

.button-success {
	background: #dffff2;
	color: #5db188;
}

.button-danger {
	background: #fbe9e9;
	color: #a65151;
}
