@use "../helpers/variables" as var;

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #f2f0f0;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: lighten(var.$primary-clr, 10%);
	border-radius: 6px;
}

html,
body {
	max-width: 100vw;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}

body {
	background: var.$body-bg;
	color: var.$text-clr;
	font-family: "DIN NEXTTM ARABIC", sans-serif;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	margin-bottom: 0.7em;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: var.$primary-clr;
	}
}

.link {
	color: var.$primary-clr;
	&:hover {
		color: lighten(var.$primary-clr, 10%);
	}
}
