@font-face {
	font-family: "DIN NEXTTM ARABIC";
	src: local("DIN Next LT W23 Medium"), local("DINNextLTW23-Medium"),
		url("../fonts/DINNextLTW23-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DIN NEXTTM ARABIC";
	src: local("DIN Next LT W23 Regular"), local("DINNextLTW23-Regular"),
		url("../fonts/DINNextLTW23-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "DIN NEXTTM ARABIC";
	src: local("DIN Next LT W23 Bold 2"), local("DINNextLTW23-Bold2"),
		url("../fonts/DINNextLTW23-Bold2.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
