@use "../helpers/variables" as var;
@use "../helpers/mixins" as *;

.header {
	margin: 2rem 0 3rem;
	.main-slider {
		width: 100%;
		aspect-ratio: 2.8/1;
	}
}

.swiper-pagination {
	&-bullet {
		width: 14px;
		height: 8px;
		border-radius: 2px;
		background: lighten(var.$primary-clr, 10%);
		transition: width 300ms ease;
		&-active {
			background: var.$primary-clr;
		}
	}
}

.search-area {
	height: max-content;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	button {
		height: 48px !important;
		padding-left: 12px !important;
		padding-right: 12px !important;
		span {
			padding-left: 0.5rem;
			@include for-tablet-down {
				display: none;
			}
		}
	}
	.filter-container {
		position: relative;
		.filter-content {
			position: absolute;
			top: calc(100% + 20px);
			left: 0;
			z-index: 11;
			width: calc(100vw - 2rem);
			max-width: 450px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 14px;
			padding: 1rem;
			transform: translateY(-20px);
			opacity: 0;
			visibility: hidden;
			transition: 400ms ease;
			&.open {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
			h6 {
				color: var.$primary-clr;
			}
			.filter-block {
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
				button {
					margin-right: 10px;
					flex-shrink: 0;
				}
				.price-range {
					display: flex;
					label {
						display: inline-flex;
						align-items: center;
						input {
							width: max-content;
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}

.discount-slider {
	margin-bottom: 2.5rem;
	.swiper-wrapper .swiper-slide img {
		margin-bottom: 2.5rem;
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: calc(50% - 1.25rem);
		width: 30px;
		height: 30px;
		border: 1px solid #f0f0f0;
		border-radius: 6px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		&::after {
			color: #cfcfcf;
			font-size: 15px;
		}
		@include for-tablet-down {
			display: none;
		}
	}
}

.categories {
	&-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		@include for-tablet-up {
			grid-template-columns: repeat(4, 1fr);
		}
		@include for-laptop-up {
			grid-template-columns: repeat(5, 1fr);
		}
		@include for-desktop-up {
			grid-template-columns: repeat(6, 1fr);
		}
		.category-item {
			aspect-ratio: 1/1;
			border-radius: 10px;
			background: #fff;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
			& > * {
				transition: 500ms ease;
			}
			&:hover {
				img {
					filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.14));
				}
				a {
					color: var.$primary-clr;
				}
			}
			a {
				text-align: center;
				font-weight: 500;
				font-size: 110%;
			}
		}
	}
}

.divider {
	height: 2px;
	margin: 5rem 0;
	background: rgba(0, 0, 0, 0.15);
}

.spacial-products,
.search-products {
	margin-bottom: 5rem;
	&-head {
		margin-bottom: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h2 span {
			color: var.$primary-clr;
		}
		& > * {
			margin: 0;
		}
	}
}

.search-products {
	&-head {
		@include for-down(900px) {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
			h2 {
				margin-bottom: 1.5rem;
			}
		}
	}
	.search-products-footer {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include for-down(870px) {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
			div {
				margin-bottom: 1rem;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 0;
		}
	}
}

.sort-dropdown-label {
	display: inline-flex;
	align-items: center;
	span {
		margin-left: 10px;
	}
}

.products-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	@include for-up(850px) {
		grid-template-columns: 1fr 1fr;
	}
	@include for-desktop-up {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
