@media (max-width: 991.98px) {
	.table-responsive-lg {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.table {
	--bs-table-bg: transparent;
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: #212529;
	--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
	--bs-table-active-color: #212529;
	--bs-table-active-bg: rgba(0, 0, 0, 0.1);
	--bs-table-hover-color: #212529;
	--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
	vertical-align: top;
	border-color: #dee2e6;
}
.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
	vertical-align: inherit;
}
.table > thead {
	vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
	border-bottom-color: currentColor;
}

.orders-list-table {
	min-width: max-content;
	word-break: keep-all;
	border-radius: 10px;
	overflow: hidden;
	& > :not(:last-child) > :last-child > * {
		border-bottom-color: transparent;
	}
	thead,
	tbody {
		tr > * {
			vertical-align: middle;
		}
		tr {
			& > :first-child {
				padding-right: 1.5rem;
			}
			& > :last-child {
				padding-left: 1.5rem;
			}
		}
	}
	thead {
		background: #f3f3f3;
	}
	tbody {
		background: #fff;
		tr > * {
			color: #4a4747;
		}
	}

	.badges-box {
		& > :not(:last-child) {
			margin-left: 1rem;
		}
		.badge-outline {
			border: 1px solid #cfcfcf;
			border-radius: 8px;
			padding: 4px 12px;
			color: #656565;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.badge-outline img {
			width: 30px;
		}
	}
}
